@import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
:root {
    --primary-color: #B24242;
    --secondary-color: #FBE8E8;
    --white-color: #ffffff;
    --black-color: #000000;
    --border-radius: 8px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
html, body {
    font-family: 'Avenir LT Std', sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(249, 249, 249);
}
.counter {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--white-color);
    padding: 20px 25px;
}
.counter .buttonGroup {
    width: 180px;
    height: 56px;
    /* border: 1px solid var(--primary-color);
    border-radius: var(--border-radius); */
}
.counter .buttonGroup .buttonGroup_btn {
    width: 60px;
    height: 100%;
    font-size: 21px;
    display: inline-block;
    background-color: var(--white-color);
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    text-align: center;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.counter .buttonGroup .buttonGroup_btn.minus {
    color: var(--primary-color);
    border-left: 1px solid var(--primary-color);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
.counter .buttonGroup .buttonGroup_btn.value {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    cursor: auto;
}
.counter .buttonGroup .buttonGroup_btn.plus {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.counter .buttonGroup .buttonGroup_btn:last-child {
    border-right: none;
}
.counterValue {
    margin-top: 10px;
    font-size: 12px;
    color: var(--black-color);
}
.savingLoader {
    margin-bottom: 10px;
    visibility: hidden;
}
.savingLoader .savingLoader_text{
    font-size: 12px;
    color: var(--black-color);
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}
.loader {
    display: inline-block;
    vertical-align: middle;
    border: 1px dashed var(--black-color);
    border-radius: 50%;
    border-top: 1px solid var(--black-color);
    width: 16px;
    height: 16px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  .visibility-visible {
      visibility: visible;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
